@use '_varible.scss'as *;

body {
    margin: 0%;
    font-family: monospace;
    font-size: larger;
    background-color: $nav;

}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1/9fr;


    justify-items: center;
}

nav {

    background-color: $color_helper2;
    height: 3em;
    grid-area: 3 / 3 / 4 / 5;
    width: 100%;
    //border-radius: 20px 0% 0% 20px;
}

ul {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 30px;



}

a {
    color: black;
    text-decoration: none;

}

a:hover {
    color: black;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

li {

    list-style-type: none;

}



.banner {
    //width: auto;
    //height: auto;
    margin: 6%;
    grid-area: 1 / 1 / 5 / 5;

}